.question_title {
  font-family: "SUIT-B";
  font-size: 24px;
  line-height: 43px;
}
.question_box {
  border: 1px solid var(--question-box);
  border-radius: 10px;
  padding: 24px 20px;
  gap: 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: var(--question-box);
  width: 780px;
  height: 28px;
}
.radio {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 2px solid black;
  border-radius: 50%;
}

.question_box:hover,
.radio:hover {
  border-color: black;
  color: black;
}

.question_box:focus,
.radio:focus {
  outline: white;
  background-color: black;
  color: white;
}
