.firstPageImg{
height: 100%;
width: 100%;
background-size: cover

}
.fpb1{
    background-color: #B8FF65;
    border-radius: 10px;
    background-size: cover
    }
.fpb2{
    background-color: #B8FF65;
    border-radius: 10px;
    background-size: cover
}