@charset "utf-8";

@font-face {
  font-family: "Pretendard-R";
  src: url("../../public/font/Pretendard-Regular.ttf");
}

@font-face {
  font-family: "Pretendard-SB";
  src: url("../../public/font/Pretendard-SemiBold.ttf");
}

* {
  font-family: "Pretendard-R";
}

.bold {
  font-family: "Pretendard-SB";
}
