@charset "utf-8";

@font-face {
  font-family: "Pretendard-R";
  src: url("../../public/font/Pretendard-Regular.ttf");
}

@font-face {
  font-family: "Pretendard-SB";
  src: url("../../public/font/Pretendard-SemiBold.ttf");
}

* {
  font-family: "Pretendard-R";
  font-size: 20px;
  line-height: 24px;
  color: black;
}

.bold {
  font-family: "Pretendard-SB";
}

:root {
  --gray: #c8c8c8;
}
