.option {
  border-radius: 10px;
  padding: 24px 70px;
  gap: 10px;
  width: 1035px;
  height: 48px;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  line-height: 20px;
}

.option_icon {
  position: relative;
  top: 40px;
  left: 40px;
}

.selected_option {
  background-color: black;
  color: white;
}

.discarded_option {
  background-color: var(--disregard);
  color: var(--gray);
  border: 1px solid var(--disregard);
}

.option_container {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
