.page {
  width: 100vw;
  min-width: 1130px;
  background-color: black;
}
.landing_image {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: none;
  margin-bottom: 87px;
}
