.container {
  padding: 0px 200px;
}

.button {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 40px;
  gap: 10px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 10px;
  width: 180px;
  height: 48px;
}
.back {
  background: black;
  border: 1px solid black;
  color: white;
}

.next {
  background: var(--neon-green);
  border: 1px solid var(--neon-green);
  color: black;
}
.range_container {
  position: relative;
}
.gray_range {
  position: absolute;
  left: 0;
  width: 1040px;
  height: 12px;
  border: none;
  border-radius: 8px;
  background-color: var(--gray-range);
}

.current_range {
  position: absolute;
  left: 0;
  width: 100px;
  height: 12px;
  border-radius: 8px;
  border: none;
  background-color: black;
}

.current_range_before_select {
  background-color: var(--neon-green);
}
