.novelContentContainer {
  padding: 100, 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContentContainer {
  max-width: 1044px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.titleContentContainer {
}
